<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <body>
<body ng-app='ShoppingListCheckoffApp'>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buyList">
     <h2>To Buy:</h2>
     <ol>
       <li ng-repeat="buyItems in buyList.getBuyItems">
         Buy {{ buyItems.item_quantity }} of {{ buyItems.item_name }}
         <button ng-click="buyList.boughtItem($index);">Bought</button>
       </li>
     </ol>
     <div class="emptyMessage" ng-if="buyList.getBuyItems.length === 0 ">Everything Bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList">
     <h2>Already Bought:</h2>
     <ol>
       <li ng-repeat="boughtList in boughtList.getBoughtItems">
         Bought {{ boughtList.item_quantity }} of {{ boughtList.item_name }}
       </li>
     </ol>
     <div class="emptyMessage" ng-if="boughtList.getBoughtItems.length === 0 ">Nothing bought yet.</div>
    </div>
  </div>
</div>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
